img{
    vertical-align: middle;
    width: .35rem;
}
.logo{
    height: .6rem;
    text-align: center;
    line-height:.6rem ;
    font-style: italic;
    font-weight: bold;
}
.download{
    border: 1px solid #fff;
    padding: 5px;
    border-radius:5px; 
    font-size:.16rem; 
}
.navbar{
    height:.6rem;
    background:#66e4da;
}
header{
    z-index: 5;
    position: fixed;
    top: 0;
    width: 100vw;
}
.content{
    padding: 1.035rem 0 1rem;

}
.content .imgbox{
    margin-top:-.45rem;
}